void-widget {
	left:-10%;
	top:10%;
	width:50%;
	height:50%;
	align:middle-center;
	border:1px solid #444;
	background-color:#B5E61D;
	background-image:logo_128x128.png;
	background-transparent:0;
	background-layout:center;
}
