.inline-block {
    padding: 5px;
    display: inline-block;
    border: 1px solid #ddd;
}
.box-1 {
    width: 64px;
    height: 64px;
    background-color: #80bdff;
}
.box-2 {
    background-color: #957bbe;
}
.box-3 {
    display: block;
    height: 64px;
    background-color: #ea4c89;
}
.dropdown-menu {
    left: 20px;
    bottom: 20px;
    position: absolute;
    min-width: 100px;
    padding: 8px 0;
    border: 1px solid #ddd;
    background-color: #fff;
    box-shadow: 0 0 6px rgba(0, 0, 0, .2);
}
.dropdown-menu.right {
    left: auto;
    right: 20px;
}
.dropdown-item {
    width: 100%;
    display: block;
    line-height: 24px;
    padding: 5px 20px;
    box-sizing: border-box;
}
.dropdown-item textview {
    line-height: 24px;
}
.panel {
    top: 180px;
    left: 100px;
    position: absolute;
    border: 1px solid #eee;
    background-color: #fff;
}
.panel .header {
    width: 100%;
    padding: 5px 10px;
    text-align: center;
    background-color: #fafafa;
    border-bottom: 1px solid #eee;
    box-sizing: border-box;
}
.panel .body {
    width: 200px;
    height: 100px;
    padding: 5px 10px;
    box-sizing: border-box;
}
.panel .footer {
    width: 100%;
    padding: 5px 10px;
    text-align: center;
    background-color: #fafafa;
    box-sizing: border-box;
    border-top: 1px solid #eee;
}
