.flex-items-left {
    display: flex;
    justify-content: flex-start;
}
.flex-items-center {
    display: flex;
    justify-content: center;
}
.flex-items-right {
    display: flex;
    justify-content: flex-end;
}
.flex-box {
    border-bottom: 1px solid #ddd;
}
.inline-block {
    padding: 5px;
    display: inline-block;
}
.block {
    padding: 5px;
    display: block;
}
.box-1 {
    width: 64px;
    height: 64px;
    background-color: #80bdff;
}
.box-2 {
    height: 64px;
    background-color: #957bbe;
}
.bottom {
    bottom: 0;
    left: 0;
    width: 100%;
    position: absolute;
    background-color: rgba(0,0,0,0.5);
}
.bottom-box {
    width: auto;
    max-width: 480px;
    margin: 20px auto;
}
.bottom-content {
    width: 100%;
    position: relative;
    background-color: #f0f0f0;
}
