*.lo
*.o
bin/Debug
bin/Release
build/*/*.sdf
build/*/*.opensdf
build/*/*.suo
*.tlog
*.log
*.obj
.deps
.libs
*.la
*.*~
Makefile
autom4te.cache
lcui.pc
libtool
config.log
config.status
stamp-h1
Thumbs.db
