*.lo
*.o
bin/
build/*/*.sdf
build/*/*.opensdf
build/*/*.suo
include/LCUI/config.h
m4/
*.lastbuildstate
*.unsuccessfulbuild
*.pdb
*.idb
*.tlog
*.log
*.obj
.deps
.libs
*.la
*.*~
aclocal.m4
Makefile
Makefile.in
configure
autom4te.cache
compile
install-sh
missing
depcomp
lcui.pc
libtool
ltmain.sh
config.log
config.status
config.guess
config.sub
stamp-h1
Thumbs.db
