.AvatarBox {
	top:-80px;
	align:middle-center;
	border: 1px solid #333;
	background-color: #fff;
	background-transparent: false;
	background-layout:center;
}

.LoginButton {
	background-image:data/btn_login.png;
	background-layout:center;
}