Source: lcui
Priority: optional
Maintainer: lc-soft <lc-soft@live.cn>
Build-Depends: debhelper (>= 10), autotools-dev
Standards-Version: 4.1.2
Section: libs
Homepage: https://lcui.org
Vcs-Git: https://github.com/lc-soft/LCUI.git
Vcs-Browser: https://github.com/lc-soft/LCUI

Package: lcui-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: lcui (= ${binary:Version}), ${misc:Depends}
Description: A small C library for building user interfaces.

Package: lcui
Architecture: any
Multi-Arch: same
Depends: libpng, libjpeg, libxml2, libfreetype6, libx11
Description: A small C library for building user interfaces.

