text,
body {
  font-size: 14px;
  line-height: 1.6;
  font-family: "Ubuntu Mono", "Consola";
}

scrollarea-content {
  min-width: 0;
}

.example {
  padding: 5px;
  background-color: #f1f2f3;
  border: 1px solid #ddd;
  margin-bottom: 10px;
}

.container {
  max-width: 600px;
  width: 100%;
  padding: 10px;
  margin: 0 auto;
  box-sizing: border-box;
}

.example__title {
  padding: 5px;
  font-size: 12px;
  line-height: 22px;
}

.example__content {
  padding: 5px;
  background-color: #fff;
}

.example-choice-card .choice-card-preview {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 128px;
  padding: 16px 24px;
  background-color: #fff;
  border: 1px solid #e7e7e7;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.example-choice-card .choice-card-group {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  max-width: 400px;
}

.example-choice-card .choice-card {
  display: flex;
  width: 100%;
  border: 1px solid #e5e5e5;
  padding: 8px;
  border-radius: 6px;
  box-sizing: border-box;
}

.example-choice-card .choice-card-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  gap: 8px;
}

.example-choice-card .choice-card-content {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 2px;
}

.example-choice-card .choice-card-desc {
  color: #666;
  font-size: 12px;
}

.example-choice-card .choice-card-indicator {
  width: 16px;
  height: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.percent-wrap-group {
  display: flex;
  flex-wrap: wrap;
  width: fit-content;
}

.percentage-wrap-box {
  background-color: #f3b64c;
}

.percent-30-item {
  width: 30%;
  height: 20px;
}

.mixed-percent-item {
  width: 30%;
  height: 20px;
}

.mixed-fixed-item {
  width: 100px;
  height: 20px;
}

.percent-100-item {
  height: 20px;
}

.percent-100-item-30 {
  width: 30%;
}

.percent-100-item-40 {
  width: 40%;
}

.mixed-gap-group {
  gap: 10px;
}

.mixed-gap-percent-item {
  width: 30%;
  height: 20px;
}

.mixed-gap-fixed-item {
  width: 100px;
  height: 20px;
}

.full-width-item {
  width: 100%;
  height: 20px;
  padding: 4px;
  border: 2px solid #333;
  box-sizing: border-box;
}

.intrinsic-percent-item {
  width: 30%;
  height: 20px;
}

.intrinsic-percent-child {
  width: 100px;
  height: 20px;
}

.decorated-percent-group {
  border: 1px solid #4f72be;
}

.decorated-percent-item {
  width: 30%;
  height: 20px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid #333;
  box-sizing: content-box;
}

.decorated-percent-child {
  width: 100px;
  height: 20px;
  background-color: #6ca86c;
}

.min-percent-item {
  width: 30%;
  min-width: 100px;
  height: 20px;
}

.review-fixed-item {
  width: 100px;
  height: 20px;
}

.percent-gap-group {
  gap: 10%;
}

.percent-gap-item {
  width: 30%;
  height: 20px;
}

.decorated-empty-percent-item {
  width: 30%;
  height: 20px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid #333;
  box-sizing: content-box;
}

.decorated-empty-fixed-item {
  width: 100px;
  height: 20px;
}

.full-percent-wrap-item {
  width: 100%;
  height: 20px;
}

.percentage-wrap-fixed-item {
  width: 100px;
  height: 20px;
}

.percent-row-wrap-item-30 {
  width: 30%;
  height: 20px;
}

.percent-row-wrap-item-70 {
  width: 70%;
  height: 20px;
}

.no-flex-fixed-item {
  width: 100px;
  height: 20px;
  flex: none;
}

.full-percent-no-flex-item {
  width: 100%;
  height: 20px;
  flex: none;
}

.decorated-before-percent-item {
  width: 30%;
  height: 20px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid #333;
  box-sizing: content-box;
}

.fixed-wrap-box {
  background-color: #4f72be;
}
